name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: ['>=1.25.7 <1.26.0', '1.26']

    defaults:
      run:
        working-directory: go

    steps:
    - uses: actions/checkout@v5

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Test
      run: go test -v
